<form [formGroup]="addressForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="zip">Postnummer </mat-label>
      <input matInput id="zip" type="text" formControlName="zip">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="city">Poststed </mat-label>
      <input matInput id="city" type="text" formControlName="city">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="street">Gatenavn </mat-label>
      <input matInput id="street" type="text" formControlName="street">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="number">Gatenummer </mat-label>
      <input matInput id="number" type="text" formControlName="number">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="countryCode">Landskode </mat-label>
      <input matInput id="countryCode" type="text" formControlName="countryCode">
    </mat-form-field>
  </p>
</form>
