<form [formGroup]="addressForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="zip">Zip: </mat-label>
      <input matInput id="zip" type="text" formControlName="zip">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="city">City: </mat-label>
      <input matInput id="city" type="text" formControlName="city">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="street">Street: </mat-label>
      <input matInput id="street" type="text" formControlName="street">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="number">Number: </mat-label>
      <input matInput id="number" type="text" formControlName="number">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label for="countryCode">Country Code: </mat-label>
      <input matInput id="countryCode" type="text" formControlName="countryCode">
    </mat-form-field>
  </p>
</form>
