table{
  width: calc(100% - 80px);
  margin: 20px;
}
.content-table{
  width: 100%;
  height: calc(100% - 50px);
  box-sizing: border-box;
}
.action-button{
  margin: 0 5px;
  float: right;
}

.orders-header{
  background-color: #efefef;
  border-color: lightslategrey;
  .mat-header-cell{
    font-size: 1.2em;
  }
}

.page-title{
  padding: 0 0 0 20px;
  h2{
    font-size: 1.8em;
  }
}

//expanded row
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.order-details {
  overflow: hidden;
  display: flex;
}

.text-link{
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}
