<mat-card class="content-table">
  <h3>Bestillinger</h3>
  <table mat-table [dataSource]="filteredOrders" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell *matHeaderCellDef> Navn </th>
      <td mat-cell *matCellDef="let order"> {{order.customer.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Totalt bestillinger: {{orders.length}} </td>
    </ng-container>

    <ng-container matColumnDef="AddressFrom">
      <th mat-header-cell *matHeaderCellDef> Adresse Fra </th>
      <td mat-cell *matCellDef="let order"> {{order.addressFrom | address}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="AddressTo">
      <th mat-header-cell *matHeaderCellDef> Adresse Til </th>
      <td mat-cell *matCellDef="let order"> {{order.addressTo | address}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="Services">
      <th mat-header-cell *matHeaderCellDef> Tjenester </th>
      <td mat-cell *matCellDef="let order">
        <app-service-ui [service]="s" *ngFor="let s of order.services"></app-service-ui>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let order">
        <button class="action-button" mat-mini-fab color="primary"
                (click)="expandedOrder = expandedOrder === order ? null : order">
          <mat-icon aria-hidden="false">edit</mat-icon>
        </button>
        <button class="action-button" mat-mini-fab color="warn">
          <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let order" [attr.colspan]="displayedColumns.length">
        <div class="order-details"
             [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'">
        <app-order-details [order]="order"></app-order-details>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let order; columns: displayedColumns;"
        [class.example-expanded-row]="expandedOrder === order"></tr>
    <tr mat-row *matRowDef="let order; columns: ['expandedDetail']"
        class="example-detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

</mat-card>
