<form [formGroup]="customerForm">
  <p>
  <mat-form-field appearance="outline">
    <mat-label for="name">Name: </mat-label>
    <input matInput id="name" type="text" formControlName="name">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
  <mat-label for="phoneNumber">Phone Number: </mat-label>
  <input matInput id="phoneNumber" type="text" formControlName="phoneNumber">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
  <mat-label for="emailAddress">Email: </mat-label>
  <input matInput id="emailAddress" type="text" formControlName="emailAddress">
  </mat-form-field>
  </p>
</form>
